/* Section for main styling */
* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    background-color: bisque;
    text-align: center;
    font-size: 2.5rem;
    height: 100vh;
}
/* h2 styling, inspiration from my P1 */
h2 {

    letter-spacing: 2px;
    color: black;
    text-align: center;
    font-size: 40px;
    padding: 3rem;
}
/* Section for styling the buttons */
button {
    margin: 2.5rem;
    font-size: 3rem;
    text-align: center;
    background: none;
    border: none;
    outline: none;
}

button:hover {
    transition: 0.3s;
    transform: scale(1.1);
}
/* Score popup 
    display: flex;
    width: auto;
    justify-content: center;
    margin-top: 2rem;
    padding-left: 1rem;
    flex-direction: column;*/

.score-area {
    position: relative;
    width: auto;
    margin: 0;
    justify-content: center;
    margin-top: 2rem;
    padding-left: 1rem;
    flex-direction: column;
}

#user-score {
    padding-right: 2rem;
}

/* Section for the result score */



/* Section for footer styling, 
code inspiration from my project1 */

footer {
    background-color: bisque;
    width: 100%;
    left: 0;
    padding: 64px 0px 64px 0px;
    flex-shrink: 0;
    position: relative;
}

/* Mobile styling */

@media screen and (max-width: 480px) {
    h1 {
        display: block;
        font-size: 20px;
    }

    p {
        font-size: 20px;
    }

    h2 {
        font-size: 20px;
    }
}