/* Section for main styling */

body {
    background-color: #FFF0E5;
    text-align: center;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    color: #10162F;
    margin: auto;
}

.wrapper {
    max-width: 960px;
    margin: auto;
    padding: 24px;
}

/* Code for choices */
.choice-wrapper {
    background-color: #10162F;
    color: white;
    padding: 24px;
}

.selected-choices {
    font-size: 40px;
    font-weight: 800;
}

.choices {
    font-size: 40px;
    font-weight: 800;
}

.choices:hover {
    transition: 0.3s;
    transform: scale(1.3);
    color: #3A10E5;
}

.choice {
    display: inline-block;
}

.choice-heading {
    font-size: 24px;
    font-variant-caps: all-small-caps;
    font-weight: 600;
    letter-spacing: 3px;
}


dialog::backdrop {
    background-color: #fff0e5be;
}

/* Code for styling the results*/

.results {
    display: inline-block;
    padding: 50px;
    min-width: 200px;
}

#result {
    color: #FFD300;
    font-size: 32px;
    font-weight: 800;
}

/* Styling section for h2 text areas */

h2 {

    letter-spacing: 2px;
    text-align: center;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Section for styling the buttons */

button {
    margin: 2.5rem;
    font-size: 32px;
    text-align: center;
    background: none;
    border: none;
    outline: none;
    transition: 0.3s;
    width: 160px;
    color: #10162f;
}

button:hover {
    transition: 0.3s;
    transform: scale(1.3);
    color: #10162F;
}

.playagain {
    margin: 2.5rem;
    font-size: 24px;
    text-align: center;
    background-color: #10162F;
    border: none;
    outline: none;
    transition: 0.3s;
    width: 160px;
    color: white;
    height: 64px;
}

.choices:hover {
    transition: 0.3s;
    transform: scale(1.3);
    color: #3A10E5;
}

/* Section for styling the Win/lose popup */

.score-area {
    flex-direction: row;
    margin-top: 2rem;
}

.score-heading {
    font-size: 20px;
    letter-spacing: 2px;
    font-variant-caps: all-small-caps;
}

.scoreboard {
    display: inline-block;
    font-size: 64px;
    font-weight: 800;
}

/* Section for styling the footer*/
footer {
    width: 100%;
    bottom: 0;
    padding: 24px;
}


/* Mobile styling for 480width */

@media screen and (max-width: 480px) {
    h1 {
        display: block;
        font-size: 20px;
    }

    p {
        font-size: 20px;
    }

    h2 {
        font-size: 20px;
    }

    .column {
        width: 100%;
    }

    footer {
        padding: 0;
    }

    .wrapper {
        padding: 8px;
    }

    button {
        margin: 6px;
        font-size: 32px;
        text-align: center;
        background: none;
        border: none;
        outline: none;
        transition: 0.3s;
        width: 110px;
        height: 60px;
        color: #10162F;
        background-color: rgb(255, 255, 255);
    }

    .choices {
        font-size: 16px;
    }

    .selected-choices {
        font-size: 24px;
    }

    #result {
        font-size: 24px;
    }

    .choice-wrapper {
        padding: 0;
    }

    .scoreboard {
        display: inline-block;
        font-size: 42px;
        font-weight: 800;
    }

    .score-area {
        padding-left: 0px;
        padding-top: 0px;
        padding-bottom: 24px;
        margin-top: 0;
    }

    .results {
        display: inline-block;
        padding: 0px;
        width: 30%;
        min-width: 100px;
    }
}